<!doctype html>
<html lang="en" ng-app="adminModule">
<head>
    <title>Завод по обработке и продаже шкур мелкого рогатого скота</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes"/>
    <meta name="robots" content="index,follow">
    <META Name="Document-state" content="Dynamic">
    <META Name="Resource-type" content="Document">
    <META HTTP-EQUIV="Content-language" content="ru">
    <meta name="description" content="">
    <meta name="classification" content="">
    <meta name="keywords" content="">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin,greek,cyrillic-ext,cyrillic,latin-ext,greek-ext,vietnamese'
          rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&subset=latin,greek,greek-ext,latin-ext,vietnamese,cyrillic-ext'
          rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="css/jquery.animateSlider.css"/>
    <link href="css/style.css" rel="stylesheet" type="text/css"/>

    <!-- Ng Dialog-->
    <link href="css/directive/ngDialog.min.css" rel="stylesheet" type="text/css"/>
    <link href="css/directive/ngDialog-theme-default.css" rel="stylesheet" type="text/css"/>

</head>
<body ng-controller="adminStartPageController">
<div id="wrapper">

    <div class="header" id="top">
        <div class="top-line">
            <div class="center">
                <div class="languages">
                    <div class="help"></div>
                    <a href="http://wetblue.biz/" class="lang active inline-middle">
                        <img src="img/flags3/ru.png" alt="ru"/>
                    </a>
                    <a href="http://wetblue.biz/tr/" class="lang lang2 inline-middle">
                        <img src="img/flags3/tr.png" alt="tr"/>
                    </a>
                    <a href="http://wetblue.biz/en/" class="lang inline-middle">
                        <img src="img/flags3/gb.png" alt="en"/>
                    </a>
                    <a href="http://wetblue.biz/china/" class="lang lang2 inline-middle">
                        <img src="img/flags3/cn.png" alt="ch"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="center">
            <div class="head-inform">
                <a class="logo"
                   ng-replace
                   data-replace="info.description">
                    {{info.description}}
                </a>
                <div class="help"></div>
                <div class="head-phones inline-middle">

                    <a href="" class="head-tel"
                       ng-replace
                       data-replace="info.phone">{{info.phone}}</a><br/>

                    <a href="" class="head-email"
                       ng-replace
                       data-replace="info.email">{{info.email}}</a>

                </div>
            </div>
        </div>
    </div>
    <div class="slider" id="slider">
        <div class="center">
            <div class="slider1">
                <ul class="anim-slider">

                    <li class="anim-slide" ng-repeat="slide in slideList">
                        <img class="img-slide" src="{{slide.img}}" alt=""
                             ng-replace
                             data-replace="slide.img"/>
                        <div class="slide-text">
                            <div class="help"></div>
                            <div class="sinner-text inline-middle">
                                    <span class="st1"
                                          ng-replace
                                          data-replace="slide.description">
                                        {{slide.description}}
                                    </span>
                            </div>
                        </div>
                    </li>

                    <!-- Arrows -->
                    <nav class="anim-arrows">
					<span class="anim-arrows-prev">
						<i class="fa fa-angle-left fa-3x"></i>
					</span>
					<span class="anim-arrows-next">
						<i class="fa fa-angle-right fa-3x"></i>
					</span>
                    </nav>
                    <!-- Dynamically created dots -->

                </ul>
            </div>
        </div>
    </div>

    <div ng-add
         data-from="product"
         data-name="Добавить категорию"
         data-item-service="productService.getNewProduct"
         data-save-func="productService.save">

        <div class="products" ng-repeat="block in product">
            <h2 class="pred-black"><span class="h2" id="producia"><span ng-replace
                                                                        data-replace="block.name">{{block.name}}</span></span>
            </h2>
            <div class="wetblue wetblue1">
                <div class="center">

                    <div class="wet-blocks"
                         ng-add
                         data-from="block.items"
                         data-name="Добавить товар"
                         data-item-service="itemService.getNewItem"
                         data-save-func="itemService.save"
                         data-param="block.id">

                        <div class="wet-block inline-top" ng-repeat="item in block.items">

                            <img src="{{item.img}}" alt=""
                                 ng-replace
                                 data-replace="item.img"/>

                            <h3 ng-replace
                                data-replace="item.name">{{item.name}}</h3>

                            <div class="wet-text">

                                <div class="w-inform"
                                     ng-add
                                     data-from="item.params"
                                     data-name="Добавить Параметр"
                                     data-item-service="paramService.getNewParam"
                                     data-save-func="paramService.save"
                                     data-param="item.id">

                                    <div ng-repeat="param in item.params">
                                        <p>
                                            <span ng-replace
                                                  data-replace="param.name">{{param.name}}</span>
                                            <span ng-replace
                                                  data-replace="param.value">{{param.value}}</span>
                                        <div class="dotted" style="clear: both"></div>
                                        </p>
                                    </div>
                                </div>
                                <p class="w-price"
                                   ng-replace
                                   data-replace="item.price">
                                    Цена (1шт.)...............{{item.price}}
                                </p>
                                <a class="do-order w-open"><span class="inline-middle">Оставить заявку</span><span
                                        class="help"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="preimuschestva">
        <h2><span class="h2" id="preimuschestva"><span>Опыт накопленный за 10 лет</span></span></h2>

        <div class="opyt">
            <div class="center"
                 ng-add
                 data-from="plus"
                 data-name="Добавить плюс"
                 data-item-service="plusService.getNewPlus"
                 data-save-func="plusService.save"
                 data-param="">
                <ng-repeat ng-repeat="item in plus">
                    <ng-if ng-if="($index % 2) == 0">
                        <div class="opyt-block ob-left">
                            <p ng-replace
                               data-replace="item.description"
                               class="inline-middle">
                                {{item.description}}
                            </p>
                            <div class="inline-middle o-img"><img
                                    ng-replace
                                    data-replace="item.img"
                                    src="{{item.img}}" alt=""/></div>
                        </div>
                    </ng-if>
                    <ng-if ng-if="($index % 2) == 1">
                        <div class="opyt-block ob-right">
                            <div class="inline-middle o-img"><img
                                    ng-replace
                                    data-replace="item.img"
                                    src="{{item.img}}" alt=""/></div>
                            <p ng-replace
                               data-replace="item.description"
                               class="inline-middle">
                                {{item.description}}
                            </p>
                        </div>
                    </ng-if>
                </ng-repeat>
            </div>
        </div>
    </div>


    <div style="padding-bottom: 40px;" ng-add
         data-from="reviewCategory"
         data-name="Добавить категорию"
         data-save-func="reviewCategoryService.save"
         data-item-service="reviewCategoryService.getNewCategory">
        <div class="reviews" ng-repeat="category in reviewCategory">
            <h2 class="pred-black" id="otzyvy"><span class="h2">
                    <span ng-replace
                          data-replace="category.name">{{category.name}}</span></span>
            </h2>
            <div class="thank-letters">
                <div class="center"
                     ng-add
                     data-from="category.review"
                     data-name="Добавить отзыв"
                     data-item-service="reviewService.getNewReview"
                     data-save-func="reviewService.save"
                     data-param="category.id">
                    <ng-repeat ng-repeat="item in category.review">
                        <div class="tank-block inline-top">
                            <img ng-replace
                                 data-replace="item.thumbImg"
                                 src="{{item.thumbImg}}" alt="" data-img="{{item.fullImg}}"/>
                            <p ng-replace
                               data-replace="item.description">{{item.description}}</p>
                        </div>
                    </ng-repeat>
                </div>
            </div>
        </div>
    </div>

    <div class="proizvodstvo">

        <h2 id="proizvodstvo" class="pred-black"><span class="h2"><span>Наше производство</span></span></h2>

        <div class="proiz">
            <div class="center"
                 ng-add
                 data-from="production"
                 data-name="Добавить"
                 data-item-service="productionService.getNewProduction"
                 data-param="">
                <ng-repeat ng-repeat="item in production">
                    <ng-if ng-if="($index % 2) == 0">
                        <div class="p-block p-block-left">
                            <img class="pimg inline-middle"
                                 ng-replace
                                 data-replace="item.img"
                                 src="{{item.img}}" alt=""/>
                            <div class="pcontent inline-middle">
                                <img src="img/pr.png" alt=""/>
                                <p ng-replace
                                   data-replace="item.name">{{item.name}}</p>
                            </div>
                        </div>
                    </ng-if>
                    <ng-if ng-if="($index % 2) == 1">
                        <div class="p-block p-block-right">
                            <div class="pcontent inline-middle">
                                <img src="img/pl.png" alt=""/>
                                <p ng-replace
                                   data-replace="item.name">{{item.name}}</p>
                            </div>
                            <img class="pimg inline-middle"
                                 ng-replace
                                 data-replace="item.img"
                                 src="{{item.img}}" alt=""/>
                        </div>
                    </ng-if>
                </ng-repeat>
            </div>
        </div>

    </div>


    <div class="dostavka1">
        <h2 id="dostavka"><span class="h2"><span>Доставка</span></span></h2>

        <div class="dost black-bg">
            <div class="center">
                <h4>На сегодняшний день<br/>
                    вся наша продукция экспортируется, в</h4>
                <div class="flag-blocks"
                     ng-add
                     data-from="country"
                     data-name="Добавить страну"
                     data-item-service="countryService.getNewCountry"
                     data-save-func="countryService.save"
                     data-param="">
                    <div class="flag-block inline-top" ng-repeat="item in country">
                        <img ng-replace
                             data-replace="item.img"
                             src="{{item.img}}" alt=""/>
                        <p ng-replace
                           data-replace="item.name">{{item.name}}</p>
                    </div>
                </div>
                <h4>Отгрузочная документация прилагаемая к товару:</h4>
                <div class="docs"
                     ng-add
                     data-from="document"
                     data-name="Добавить документ"
                     data-item-service="documentService.getNewDocument">
                    <div class="inline-top doc">
                        <ul>
                            <li ng-repeat="item in document">
                                <div ng-replace data-replace="item.name">{{item.name}}
                                </div>
                            </li>
                            <div style="clear: both;"></div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="line"></div>
            <div class="center">
                <h4 class="h4vm">Отгружается контейнерами</h4>
                <div class="containers">
                    <div class="container-text container-text-left inline-middle">
                        <span>20 футов</span><br/>
                        2,385 / 5,896 / 2,350 (м)
                    </div>
                    <div class="container-img inline-middle">
                        <img src="img/containers.png" alt=""/>
                    </div>
                    <div class="container-text container-text-right inline-middle">
                        <span>40 футов</span><br/>
                        2,385 / 12,035 / 2,350 (м)
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="stoimost">
        <h2 id="stoimost" class="pred-black"><span class="h2"><span>Стоимость доставки</span></span></h2>

        <div class="d-price">
            <div class="center">
                <div class="dp-blocks inline-top">

                    <div class="dp-block" ng-repeat="item in country">
                        <img ng-replace
                             data-replace="item.img"
                             src="{{item.img}}" alt="" class="inline-middle"/>
                        <div class="dp-text inline-middle">
                            <p><span ng-replace
                                     data-replace="item.name">{{item.name}}</span>
                                <span
                                        ng-replace
                                        data-replace="item.city">({{item.city}})</span>
                            </span> — <br/>
                                <span ng-replace
                                      data-replace="item.desc">{{item.desc}}</span></p>
                        </div>
                    </div>
                </div>
                <p class="stoimost20">— Стоимость 20 фут. контейнера на 300 Долларов ниже, чем 40 —</p>
            </div>
        </div>
    </div>

    <div class="footer" id="bottom">
        <div class="line"></div>
        <div class="center">
            <p class="co-t"
               ng-replace
               data-replace="info.company">{{info.company}}</p>
            <div class="footer-blocks">
                <p class="inline-top"
                   ng-replace
                   data-replace="info.mail">тел.{{info.phone}}</p>
                <p class="inline-top"
                   ng-replace
                   data-replace="info.mail">mail:{{info.mail}}</p>
                <p class="inline-top"
                   ng-replace
                   data-replace="info.address">Адрес: {{info.address}}</p>
            </div>
        </div>
    </div>


</div>


<ng-panel></ng-panel>


<script src="js/lib/angular.js"></script>
<script src="js/lib/directive/ngDialog.min.js"></script>

<script src="js/module/adminModule.js"></script>

<script src="js/controller/adminStartPageController.js"></script>

<script src="js/util/addWatchToObjectForSaveToServer.js"></script>

<script src="js/service/InfoService.js"></script>
<script src="js/service/sliderService.js"></script>
<script src="js/service/productService.js"></script>
<script src="js/service/paramService.js"></script>
<script src="js/service/itemService.js"></script>
<script src="js/service/plusService.js"></script>
<script src="js/service/reviewService.js"></script>
<script src="js/service/reviewCategoryService.js"></script>
<script src="js/service/productionService.js"></script>
<script src="js/service/countryService.js"></script>
<script src="js/service/documentService.js"></script>

<script src="js/directive/ngReplace.js"></script>
<script src="js/directive/ngPanel.js"></script>
<script src="js/directive/ngAdd.js"></script>

<script src="js/lib/jquery.js"></script>
<script src="js/lib/modernizr.js"></script>
<script src="js/lib/jquery.animateSlider.js"></script>
<script src="js/lib/custom/script-slide.js"></script>
</body>
</html>