<!doctype html>
<html lang="en" ng-app="adminModule">
<head>
    <title>Завод по обработке и продаже шкур мелкого рогатого скота</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes"/>
    <meta name="robots" content="index,follow">
    <META Name="Document-state" content="Dynamic">
    <META Name="Resource-type" content="Document">
    <META HTTP-EQUIV="Content-language" content="ru">
    <meta name="description" content="">
    <meta name="classification" content="">
    <meta name="keywords" content="">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin,greek,cyrillic-ext,cyrillic,latin-ext,greek-ext,vietnamese'
          rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&subset=latin,greek,greek-ext,latin-ext,vietnamese,cyrillic-ext'
          rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="css/jquery.animateSlider.css"/>
    <link href="css/style.css" rel="stylesheet" type="text/css"/>

    <!-- Ng Dialog-->
    <link href="css/directive/ngDialog.min.css" rel="stylesheet" type="text/css"/>
    <link href="css/directive/ngDialog-theme-default.css" rel="stylesheet" type="text/css"/>

</head>
<body ng-controller="adminStartPageController">
<div id="wrapper">

    <div class="header" id="top">
        <div class="top-line">
            <div class="center">
                <div class="languages">
                    <div id="google_translate_element"></div><script type="text/javascript">
                    function googleTranslateElementInit() {
                        new google.translate.TranslateElement({pageLanguage: 'ru', includedLanguages: 'en,ru,tr,zh-CN', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
                    }
                </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="center">
            <div class="head-inform">
                <a class="logo"
                   ng-replace
                   data-replace="info.description">
                    {{info.description}}
                </a>
                <div class="help"></div>
                <div class="head-phones inline-middle">

                    <a href="" class="head-tel"
                       ng-replace
                       data-replace="info.phone">{{info.phone}}</a><br/>

                    <a href="" class="head-email"
                       ng-replace
                       data-replace="info.email">{{info.email}}</a>

                </div>
            </div>
        </div>
    </div>
    <div class="slider" id="slider">
        <div class="center">
            <div class="slider1">
                <ul class="anim-slider">

                    <li class="anim-slide" ng-repeat="slide in slideList">
                        <img class="img-slide" src="{{slide.img}}" alt=""
                             ng-replace
                             data-replace="slide.img"/>
                        <div class="slide-text">
                            <div class="help"></div>
                            <div class="sinner-text inline-middle">
                                    <span class="st1"
                                          ng-replace
                                          data-replace="slide.description">
                                        {{slide.description}}
                                    </span>
                            </div>
                        </div>
                    </li>

                    <!-- Arrows -->
                    <nav class="anim-arrows">
					<span class="anim-arrows-prev">
						<i class="fa fa-angle-left fa-3x"></i>
					</span>
					<span class="anim-arrows-next">
						<i class="fa fa-angle-right fa-3x"></i>
					</span>
                    </nav>
                    <!-- Dynamically created dots -->

                </ul>
            </div>
        </div>
    </div>

    <div ng-add
         data-from="product"
         data-name="Добавить категорию"
         data-item-service="productService.getNewProduct"
         data-save-func="productService.save">

        <div class="products"
             ng-repeat="block in product">
            <h2 class="pred-black"><span class="h2" id="producia">
                <p ng-delete
                   data-from="product"
                   data-number="$index"
                   data-func-delete="productService.delete">

                    <span ng-replace
                          data-replace="block.name">{{block.name}}</span>
                    </p>
            </span>
            </h2>
            <div class="wetblue wetblue1">
                <div class="center">

                    <div class="wet-blocks"
                         ng-add
                         data-from="block.items"
                         data-name="Добавить товар"
                         data-item-service="itemService.getNewItem"
                         data-save-func="itemService.save"
                         data-param="block.id">

                        <div class="wet-block inline-top" ng-repeat="item in block.items">

                            <img src="{{item.img}}" alt=""
                                 ng-replace
                                 data-replace="item.img"/>

                            <p ng-delete
                               data-from="block.items"
                               data-number="$index"
                               data-func-delete="itemService.delete">
                            <h3 ng-replace
                                data-replace="item.name">{{item.name}}</h3></p>

                            <div class="wet-text">

                                <div class="w-inform"
                                     ng-add
                                     data-from="item.params"
                                     data-name="Добавить Параметр"
                                     data-item-service="paramService.getNewParam"
                                     data-save-func="paramService.save"
                                     data-param="item.id">

                                    <div ng-repeat="param in item.params">
                                        <span ng-delete
                                              data-from="item.params"
                                              data-number="$index"
                                              data-func-delete="paramService.delete">
                                        <p>
                                        <span ng-replace
                                              data-replace="param.name">{{param.name}}</span>
                                            <span ng-replace
                                                  data-replace="param.value">{{param.value}}</span>
                                        <div class="dotted" style="clear: both"></div>
                                            </p>
                                        </span>
                                    </div>
                                </div>
                                <p class="w-price"
                                   ng-replace
                                   data-replace="item.price">
                                    Цена (1шт.)...............{{item.price}}
                                </p>
                                <a class="do-order w-open"><span class="inline-middle">Оставить заявку</span><span
                                        class="help"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="preimuschestva">
        <h2><span class="h2" id="preimuschestva"><span>Опыт накопленный за 10 лет</span></span></h2>

        <div class="opyt">
            <div class="center"
                 ng-add
                 data-from="plus"
                 data-name="Добавить плюс"
                 data-item-service="plusService.getNewPlus"
                 data-save-func="plusService.save"
                 data-param="">
                <ng-repeat ng-repeat="item in plus">

                    <ng-if ng-if="($index % 2) == 0">
                        <div class="opyt-block ob-left">
                            <span ng-delete
                                  data-from="plus"
                                  data-number="$index"
                                  data-func-delete="plusService.delete">
                            </span>
                            <p ng-replace
                               data-replace="item.description"
                               class="inline-middle">
                                {{item.description}}
                            </p>
                            <div class="inline-middle o-img"><img
                                    ng-replace
                                    data-replace="item.img"
                                    src="{{item.img}}" alt=""/></div>
                        </div>
                    </ng-if>
                    <ng-if ng-if="($index % 2) == 1">
                        <div class="opyt-block ob-right">
                            <div class="inline-middle o-img"><img
                                    ng-replace
                                    data-replace="item.img"
                                    src="{{item.img}}" alt=""/></div>
                            <p ng-replace
                               data-replace="item.description"
                               class="inline-middle">
                                {{item.description}}
                            </p>

                    <span ng-delete
                          data-from="plus"
                          data-number="$index"
                          data-func-delete="plusService.delete">
                    </span>
                        </div>
                    </ng-if>
                </ng-repeat>
            </div>
        </div>
    </div>


    <div style="padding-bottom: 40px;" ng-add
         data-from="reviewCategory"
         data-name="Добавить категорию"
         data-save-func="reviewCategoryService.save"
         data-item-service="reviewCategoryService.getNewCategory">
        <div class="reviews" ng-repeat="category in reviewCategory">
            <h2 class="pred-black" id="otzyvy"><span class="h2">
                <p ng-delete
                   data-from="reviewCategory"
                   data-number="$index"
                   data-func-delete="reviewCategoryService.delete">

                    <span ng-replace
                          data-replace="category.name">{{category.name}}</span></span>
                </p>
            </h2>
            <div class="thank-letters">
                <div class="center"
                     ng-add
                     data-from="category.review"
                     data-name="Добавить отзыв"
                     data-item-service="reviewService.getNewReview"
                     data-save-func="reviewService.save"
                     data-param="category.id">
                    <ng-repeat ng-repeat="item in category.review">
                        <div class="tank-block inline-top">

                            <span ng-delete
                                  data-from="category.review"
                                  data-number="$index"
                                  data-func-delete="reviewService.delete">
                    </span>
                            <img ng-replace
                                 data-replace="item.thumbImg"
                                 src="{{item.thumbImg}}" alt="" data-img="{{item.fullImg}}"/>
                            <p ng-replace
                               data-replace="item.description">{{item.description}}</p>
                        </div>
                    </ng-repeat>
                </div>
            </div>
        </div>
    </div>

    <div class="proizvodstvo">

        <h2 id="proizvodstvo" class="pred-black"><span class="h2"><span>Наше производство</span></span></h2>

        <div class="proiz">
            <div class="center"
                 ng-add
                 data-from="production"
                 data-name="Добавить"
                 data-item-service="productionService.getNewProduction"
                 data-param="">
                <ng-repeat ng-repeat="item in production">
                    <ng-if ng-if="($index % 2) == 0">
                        <div class="p-block p-block-left">
                            <div ng-delete
                                 data-from="production"
                                 data-number="$index"
                                 data-func-delete="productionService.delete">
                            </div>
                            <img class="pimg inline-middle"
                                 ng-replace
                                 data-replace="item.img"
                                 src="{{item.img}}" alt=""/>
                            <div class="pcontent inline-middle">
                                <img src="img/pr.png" alt=""/>
                                <p ng-replace
                                   data-replace="item.name">{{item.name}}</p>

                            </div>
                        </div>
                    </ng-if>
                    <ng-if ng-if="($index % 2) == 1">
                        <div class="p-block p-block-right">
                            <div ng-delete
                                 data-from="category.review"
                                 data-number="$index"
                                 data-func-delete="reviewService.delete">
                            </div>
                            <div class="pcontent inline-middle">
                                <img src="img/pl.png" alt=""/>
                                <p ng-replace
                                   data-replace="item.name">{{item.name}}</p>
                            </div>
                            <img class="pimg inline-middle"
                                 ng-replace
                                 data-replace="item.img"
                                 src="{{item.img}}" alt=""/>
                        </div>
                    </ng-if>
                </ng-repeat>
            </div>
        </div>

    </div>


    <div class="dostavka1">
        <h2 id="dostavka"><span class="h2"><span>Доставка</span></span></h2>

        <div class="dost black-bg">
            <div class="center">
                <h4>На сегодняшний день<br/>
                    вся наша продукция экспортируется, в</h4>
                <div class="flag-blocks"
                     ng-add
                     data-from="country"
                     data-name="Добавить страну"
                     data-item-service="countryService.getNewCountry"
                     data-save-func="countryService.save"
                     data-param="">
                    <div class="flag-block inline-top" ng-repeat="item in country">
                        <img ng-replace
                             data-replace="item.img"
                             src="{{item.img}}" alt=""/>
                        <p ng-replace
                           data-replace="item.name">{{item.name}}</p>
                        <div ng-delete
                             data-from="country"
                             data-number="$index"
                             data-func-delete="countryService.delete">
                        </div>

                    </div>
                </div>
                <h4>Отгрузочная документация прилагаемая к товару:</h4>
                <div class="docs"
                     ng-add
                     data-from="document"
                     data-name="Добавить документ"
                     data-item-service="documentService.getNewDocument"
                     data-save-func="documentService.save">
                    <div class="inline-top doc">
                        <ul>
                            <li ng-repeat="item in document">


                                <div ng-replace data-replace="item.name">{{item.name}}
                                </div>
                                <span ng-delete
                                      data-from="document"
                                      data-number="$index"
                                      data-func-delete="documentService.delete">
                                </span>
                            </li>
                            <div style="clear: both;"></div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="line"></div>
            <div class="center">
                <h4 class="h4vm">Отгружается контейнерами</h4>
                <div class="containers">
                    <div class="container-text container-text-left inline-middle">
                        <span>20 футов</span><br/>
                        2,385 / 5,896 / 2,350 (м)
                    </div>
                    <div class="container-img inline-middle">
                        <img src="img/containers.png" alt=""/>
                    </div>
                    <div class="container-text container-text-right inline-middle">
                        <span>40 футов</span><br/>
                        2,385 / 12,035 / 2,350 (м)
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="stoimost">
        <h2 id="stoimost" class="pred-black"><span class="h2"><span>Стоимость доставки</span></span></h2>

        <div class="d-price">
            <div class="center">
                <div class="dp-blocks inline-top">

                    <div class="dp-block" ng-repeat="item in country">
                        <img ng-replace
                             data-replace="item.img"
                             src="{{item.img}}" alt="" class="inline-middle"/>
                        <div class="dp-text inline-middle">
                            <p><span ng-replace
                                     data-replace="item.name">{{item.name}}</span>
                                <span
                                        ng-replace
                                        data-replace="item.city">({{item.city}})</span>
                                </span> — <br/>
                                <span ng-replace
                                      data-replace="item.description">{{item.description}}</span></p>
                        </div>
                    </div>
                </div>
                <p class="stoimost20">— Стоимость 20 фут. контейнера на 300 Долларов ниже, чем 40 —</p>
            </div>
        </div>
    </div>

    <div class="footer" id="bottom">
        <div class="line"></div>
        <div class="center">
            <p class="co-t"
               ng-replace
               data-replace="info.company">{{info.company}}</p>
            <div class="footer-blocks">
                <p class="inline-top"
                   ng-replace
                   data-replace="info.phone">тел.{{info.phone}}</p>
                <p class="inline-top"
                   ng-replace
                   data-replace="info.email">mail:{{info.email}}</p>
                <p class="inline-top"
                   ng-replace
                   data-replace="info.address">Адрес: {{info.address}}</p>
            </div>
        </div>
    </div>


</div>

<ng-panel></ng-panel>


<div class="pop-menu">
    <div class="x-menu"></div>
    <div class="right-menu">
        <div class="help"></div>
        <ul class="r-menu inline-middle">
            <li><a href="#producia">Продукция</a></li>
            <li><a href="#preimuschestva">приемущества</a></li>
            <li><a href="#otzyvy">отзывы</a></li>
            <li><a href="#proizvodstvo">производство</a></li>
            <li><a href="#dostavka">доставка</a></li>
            <li><a href="#stoimost">стоимость</a></li>
        </ul>
        <div class="phone-a-mail">
            810998 90 328 2007<br/>
            <span>zakaz@wetblue.biz</span>
        </div>
    </div>
</div>

<div class="sendwich"></div>


<div class="second-menu">
    <a class="totopp" href="#top"></a>
    <a class="active" href="#producia"></a>
    <a href="#preimuschestva"></a>
    <a href="#otzyvy"></a>
    <a href="#proizvodstvo"></a>
    <a href="#dostavka"></a>
    <a href="#stoimost"></a>
</div>


<a class="tobottom" href="#bottom"></a>

<div class="pop-order"><span class="inline-middle">Оставить заявку</span><span class="help"></span></div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>


<script>

    /*открытие и закрытие меню*/
    $('.sendwich').click(function () {
        $('.pop-menu').show(500);
    });

    $('.r-menu').find('li').find('a').click(function () {
        $('.pop-menu').hide(500);
    });

    $('.x-menu').click(function () {
        $('.pop-menu').hide(500);
    });

    /*viewportChecker*/
    $(document).ready(function () {
        $('.products').viewportChecker({
            callbackFunction: function () {
                $('.second-menu').show();
                $(".second-menu a").removeClass('active');
                $(".second-menu a:eq(1)").addClass('active');
                $('.tobottom').hide();
            },
            repeat: true
        });
        $('.preimuschestva').viewportChecker({
            callbackFunction: function () {
                $('.second-menu').show();
                $(".second-menu a").removeClass('active');
                $(".second-menu a:eq(2)").addClass('active');
                $('.tobottom').hide();
            },
            repeat: true
        });
        $('.reviews').viewportChecker({
            callbackFunction: function () {
                $('.second-menu').show();
                $(".second-menu a").removeClass('active');
                $(".second-menu a:eq(3)").addClass('active');
                $('.tobottom').hide();
            },
            repeat: true
        });
        $('.sertificaty').viewportChecker({
            callbackFunction: function () {
                $('.second-menu').show();
                $(".second-menu a").removeClass('active');
                $(".second-menu a:eq(4)").addClass('active');
                $('.tobottom').hide();
            },
            repeat: true
        });
        $('.proizvodstvo').viewportChecker({
            callbackFunction: function () {
                $('.second-menu').show();
                $(".second-menu a").removeClass('active');
                $(".second-menu a:eq(5)").addClass('active');
                $('.tobottom').hide();
            },
            repeat: true
        });
        $('.dostavka1').viewportChecker({
            callbackFunction: function () {
                $('.second-menu').show();
                $(".second-menu a").removeClass('active');
                $(".second-menu a:eq(6)").addClass('active');
                $('.tobottom').hide();
            },
            repeat: true
        });
        $('.stoimost').viewportChecker({
            callbackFunction: function () {
                $('.second-menu').show();
                $(".second-menu a").removeClass('active');
                $(".second-menu a:eq(7)").addClass('active');
                $('.tobottom').hide();
            },
            repeat: true
        });
        $('#slider').viewportChecker({
            callbackFunction: function () {
                $('.second-menu').hide();
                $('.tobottom').show();
            },
            repeat: true
        });
    });

</script>

<script>
    $(document).ready(function () {
        $('a[href*=#]').bind("click", function (e) {
            var anchor = $(this);
            $('html, body').stop().animate({
                scrollTop: $(anchor.attr('href')).offset().top
            }, 1000);
            e.preventDefault();
        });
        return false;
    });
</script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function () {
            try {
                w.yaCounter33453373 = new Ya.Metrika({
                    id: 33453373,
                    clickmap: true,
                    trackLinks: true,
                    accurateTrackBounce: true,
                    webvisor: true,
                    trackHash: true
                });
            } catch (e) {
            }
        });

        var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () {
                    n.parentNode.insertBefore(s, n);
                };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else {
            f();
        }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/33453373" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>
<!-- /Yandex.Metrika counter -->

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-64294868-4', 'auto');
    ga('send', 'pageview');

</script>
<!-- Google Tag Manager -->
<noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-TNZFPQ"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<script>(function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({
        'gtm.start': new Date().getTime(), event: 'gtm.js'
    });
    var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
    j.async = true;
    j.src =
            '//www.googletagmanager.com/gtm.js?id=' + i + dl;
    f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-TNZFPQ');</script>


<script src="/js/lib/angular.js"></script>
<script src="/js/lib/directive/ngDialog.min.js"></script>


<script src="/js/module/adminModule.js"></script>

<script src="/js/controller/adminStartPageController.js"></script>

<script src="/js/util/addWatchToObjectForSaveToServer.js"></script>

<script src="/js/service/InfoService.js"></script>
<script src="/js/service/sliderService.js"></script>
<script src="/js/service/productService.js"></script>
<script src="/js/service/paramService.js"></script>
<script src="/js/service/itemService.js"></script>
<script src="/js/service/plusService.js"></script>
<script src="/js/service/reviewService.js"></script>
<script src="/js/service/reviewCategoryService.js"></script>
<script src="/js/service/productionService.js"></script>
<script src="/js/service/countryService.js"></script>
<script src="/js/service/documentService.js"></script>
<script src="/js/service/userService.js"></script>

<script src="/js/directive/ngReplace.js"></script>
<script src="/js/directive/ngPanel.js"></script>
<script src="/js/directive/ngAdd.js"></script>
<script src="/js/directive/ngDelete.js"></script>
<script src="/js/directive/ngUpload.js"></script>


<script src="/js/lib/modernizr.js"></script>
<script src="/js/lib/jquery.animateSlider.js"></script>
<script src="/js/lib/jquery.maskedinput.min.js"></script>
<script src="/js/lib/jquery.viewportchecker.min.js"></script>
<script src="/js/lib/custom/script-slide.js"></script>

</body>
</html>